@import url('https://fonts.cdnfonts.com/css/sansation');

*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sansation', sans-serif;
}

.page{
  height: 100vh;
  width: 100%; 
  position: relative;

}
.fondo{
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,1) 15%, rgba(29,29,29,0.7203256302521008) 100%);
}
.image_fondo{
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  z-index: -1;
  overflow-x: hidden;
  height: 100vh;
  width: 50%;
 
 
}

.image_fondo img{
  filter: grayscale(100%);
    position: relative;
    width: 800px;
    transform: scaleX(-1);
    top: 2%;
    right: -10%;
}
.info{
  margin-left: 10%;
  width: 50%;
 
  position: absolute;
  top: 0;
  bottom: -7rem;
  z-index: 100;
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info .label_title_1 {
  margin-top: 20%;
  font-size: 35px;
  color: white;
}
.label_title_2{
  margin-top: 10px;
  font-size: 70px;
  color: rgb(236, 156, 37);
  font-weight: 900;
}
.description{
  width: 50%;
  letter-spacing: 1.5px;
  margin-top: 20%;
  font-size: 20px;
  color: white;
  font-weight: 100;
  line-height: 40px;
}

@media screen and (max-width: 480px) {
  .description{
    line-height: normal;
  }

 
}


@media screen and (max-width: 768px) {

  .description{
    line-height: 30px;
    width: 100%;
  }

  .image_fondo img{
    top: 2%;
    right: 90%;
  }
}


@media screen and (max-width: 1024px) {
 
}



@media screen and(max-width: 1200px) {
 
}
